*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.footar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: dodgerblue;
    padding: 50px;
}
.section1{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    gap: 50px;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.container > a{
    text-decoration: none;
    color: white;
}
.container > a:hover{
    color: rgb(255,82,0);
}
.section2{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
.section2 > .icons{
    gap: 10px;
}
.fa-brands,.fa-regular{
    color: #fff;
}
@media (max-width:560px){
    .footar{
        padding: 5px;
    }
    .section1{
        gap:15px
    }
    .container{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .container > a {
        font-size: 8px;
    }
    .container > h3{
        font-size: 10px;
    }
    /* .section2{
        justify-content: flex-start;

    } */
}